
@using Models;

 <div id="contentDetail"> 
@Html.Partial("Partial/ReportQuery_ParamDetail_Partial")
</div>
 
 <div id="contentGvDetail"> 
@*@Html.Partial("Partial/ReportQuery_ListDetail_Partial")*@
</div>
