@using Models
@model Models.Authentication.Login.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
@section Head {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/SignInRegister.css")" />
    <script type="text/javascript" src="@Url.Content("~/Content/SignInRegister.js")"></script>
    <script>
        function PwdOnKeyPress(s, e) {
            if (e.htmlEvent.keyCode == 13) {
                btnLogin.DoClick();
            }
        }
    </script>
}

<div class="formLayout-verticalAlign">
    <div class="formLayout-container">
        @using (Ajax.BeginForm("mantap", "Login", null,
        new AjaxOptions
        {
            HttpMethod = "POST",
            OnBegin = "OnBegin",
            OnSuccess = "OnSuccessMsgBox",
            OnFailure = "OnFailure",
            OnComplete = "OnComplete",
            UpdateTargetId = "contentForm",
            InsertionMode = InsertionMode.Replace,

        },
        new
        {
            id = "formDetail",
            @class = "edit_form",
            style = "height: 200px; width: 100%;",
            autocomplete = "off"

        }))
        {
            @Html.DevExpress().FormLayout(settings => {
           settings.Name = "formLayout";
           settings.UseDefaultPaddings = false;
           settings.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
           settings.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;
           settings.Styles.LayoutGroup.Cell.Paddings.Padding = Unit.Pixel(0);
           settings.Styles.LayoutItem.Paddings.PaddingBottom = Unit.Pixel(8);

           var groupItem = settings.Items.AddGroupItem(i => {
               i.ShowCaption = DefaultBoolean.False;
               i.GroupBoxDecoration = GroupBoxDecoration.None;
               i.Paddings.Padding = Unit.Pixel(16);

           });

           groupItem.Items.Add(m => m.UserName, i =>
           {
               i.Caption = "Username";

               i.NestedExtension().TextBox(s =>
               {
                   s.Width = Unit.Percentage(100);
                   s.ShowModelErrors = true;

                   s.Properties.ValidationSettings.Display = Display.Dynamic;
                   s.Properties.ValidationSettings.SetFocusOnError = true;
                   s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                   s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                   s.Properties.ClientSideEvents.KeyPress = "UserNameOnKeyPress";
                   //s.Properties.ClientSideEvents.Init = "function(s, e){ s.Focus(); }";
               });
           });

           groupItem.Items.Add(m => m.Pwd, i => {
               i.Caption = "Password";
               i.NestedExtension().ButtonEdit(s => {
                   s.Width = Unit.Percentage(100);
                   s.ShowModelErrors = true;
                   s.Properties.ValidationSettings.Display = Display.Dynamic;
                   s.Properties.ValidationSettings.SetFocusOnError = true;
                   s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                   s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;

                   s.Properties.Password = true;
                   s.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                   s.Properties.ClientSideEvents.ButtonClick = "onPasswordButtonEditButtonClick";
                   s.Properties.ClientSideEvents.KeyPress = "PwdOnKeyPress";
                   s.Properties.ButtonStyle.Border.BorderWidth = Unit.Pixel(0);
                   s.Properties.ButtonStyle.Width = Unit.Pixel(6);
                   s.Properties.ButtonStyle.CssClass = "eye-button";
                   s.Properties.ButtonStyle.HoverStyle.BackColor = System.Drawing.Color.Transparent;
                   s.Properties.ButtonStyle.PressedStyle.BackColor = System.Drawing.Color.Transparent;

                   s.SetButtonTemplateContent("<div></div>");
                   s.Properties.Buttons.Add();
               });
           });


           groupItem.Items.Add(i =>
           {
               i.ShowCaption = DefaultBoolean.False;
               i.HorizontalAlign = FormLayoutHorizontalAlign.Center;
               i.Paddings.Padding = Unit.Pixel(0);
               i.NestedExtension().Button(s =>
               {
                   s.Name = "btnLogin";
                   s.Width = Unit.Pixel(200);
                   s.Text = "Log In";
                   s.UseSubmitBehavior = false;
                   s.ClientSideEvents.Click = "OnClickBtnLogin";
               });
           });


       }).GetHtml()}
    </div>
</div>

@Html.DevExpress().LoadingPanel(
    settings =>
    {
        settings.Name = "loadingPanel";
        settings.Modal = true;
        settings.ContainerElementID = "contentForm";
        settings.Styles.LoadingDiv.BackColor = System.Drawing.Color.White;
    }).GetHtml()