@using Models.Transaction.StockOpname;
@using System.Web.Script.Serialization;

@{
    /**/

    ViewBag.Id = Model.Id;
    ViewBag.ReadOnly = Model.Status == "Draft" ? false: true;

}

@model Models.Transaction.StockOpname.RequestStockOpnameModel

@Html.DevExpress().TextBox(
        settings =>
        {
            settings.Name = "Id";
            settings.ControlStyle.CssClass = "editor";
            settings.ShowModelErrors = true;
            settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            settings.ClientVisible = false;
        }
).Bind(Model.Id).GetHtml() 

@Html.DevExpress().FormLayout(settings =>
{
    settings.Name = "formLayout";
    settings.EncodeHtml = false;
    settings.Width = Unit.Percentage(100);
    settings.AlignItemCaptionsInAllGroups = true;
    settings.ShowItemCaptionColon = false;
    settings.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
    settings.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 600;

    var groupItem = settings.Items.AddGroupItem(itemSettings =>
    {
        itemSettings.Caption = "";
        itemSettings.SettingsItemHelpTexts.Position = HelpTextPosition.Bottom;
        itemSettings.ColCount = 1;
        itemSettings.Width = Unit.Percentage(100);
        itemSettings.GroupBoxStyle.Caption.Paddings.Padding = 5;
        itemSettings.GroupBoxStyle.Caption.Font.Size = 14;
        itemSettings.GroupBoxStyle.Caption.ForeColor = System.Drawing.Color.Orange;

    });

    groupItem.Items.AddEmptyItem().Height = 8;

    var groupItem_2 = groupItem.Items.AddGroupItem(itemSettings =>
    {
        itemSettings.SettingsItemHelpTexts.Position = HelpTextPosition.Bottom;
        itemSettings.GroupBoxDecoration = GroupBoxDecoration.None;
        itemSettings.ShowCaption = DefaultBoolean.False;
        itemSettings.ColCount = 3;
    });

    var groupItem_3 = groupItem.Items.AddGroupItem(itemSettings =>
    {
        itemSettings.SettingsItemHelpTexts.Position = HelpTextPosition.Bottom;
        itemSettings.GroupBoxDecoration = GroupBoxDecoration.None;
        itemSettings.ShowCaption = DefaultBoolean.False;
        itemSettings.ColCount = 3;
    });

    var groupItem_Col1 = groupItem_2.Items.AddGroupItem(itemSettings =>
    {
        itemSettings.SettingsItemHelpTexts.Position = HelpTextPosition.Bottom;
        itemSettings.GroupBoxDecoration = GroupBoxDecoration.None;
        itemSettings.ShowCaption = DefaultBoolean.False;
        itemSettings.ColCount = 1;
        itemSettings.CssClass = "groupCol";
    });

    var groupItem_Col2 = groupItem_2.Items.AddGroupItem(itemSettings =>
    {
        itemSettings.SettingsItemHelpTexts.Position = HelpTextPosition.Bottom;
        itemSettings.GroupBoxDecoration = GroupBoxDecoration.None;
        itemSettings.ShowCaption = DefaultBoolean.False;
        itemSettings.ColCount = 1;
        itemSettings.CssClass = "groupCol";
    });

    var groupItem_Col3 = groupItem_2.Items.AddGroupItem(itemSettings =>
    {
        itemSettings.SettingsItemHelpTexts.Position = HelpTextPosition.Bottom;
        itemSettings.GroupBoxDecoration = GroupBoxDecoration.None;
        itemSettings.ShowCaption = DefaultBoolean.False;
        itemSettings.ColCount = 1;
        itemSettings.CssClass = "groupCol";
    });

    groupItem_Col1.Items.Add(itemSettings =>
    {
        itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
        itemSettings.Caption = "Trans No.";
        itemSettings.FieldName = "TransNo";

        var txt = (TextBoxSettings)itemSettings.NestedExtensionSettings;
        txt.Name = "TransNo";
        txt.ReadOnly = true;
        txt.ShowModelErrors = true;
        txt.ControlStyle.CssClass = "editornoimage";
        txt.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
        txt.Properties.ReadOnlyStyle.BackColor = System.Drawing.Color.FromName("#EDEDED");
        txt.Width = 230;
    });


    groupItem_Col1.Items.Add(itemSettings =>
    {
        itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
        itemSettings.Caption = "TransType";
        itemSettings.FieldName = "TransType";
        itemSettings.ClientVisible = false;

        var txt = (TextBoxSettings)itemSettings.NestedExtensionSettings;
        txt.Name = "TransType";
        txt.ShowModelErrors = true;
        txt.ControlStyle.CssClass = "editornoimage";
        txt.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
        txt.Properties.ReadOnlyStyle.BackColor = System.Drawing.Color.FromName("#EDEDED");
        txt.Width = 230;
    });

    groupItem_Col1.Items.Add(itemSettings =>
    {
        itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
        itemSettings.Caption = "CancelReason";
        itemSettings.FieldName = "CancelReason";
        itemSettings.ClientVisible = false;

        var txt = (TextBoxSettings)itemSettings.NestedExtensionSettings;
        txt.Name = "CancelReason";
        txt.ShowModelErrors = true;
        txt.ControlStyle.CssClass = "editornoimage";
        txt.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
        txt.Properties.ReadOnlyStyle.BackColor = System.Drawing.Color.FromName("#EDEDED");
        txt.Width = 230;
    });


    groupItem_Col1.Items.Add(itemSettings =>
    {

        itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.DateEdit;
        itemSettings.Caption = "Start Date";
        itemSettings.FieldName = "StartDate";

        var txt = (DateEditSettings)itemSettings.NestedExtensionSettings;
        txt.Name = "StartDate";
        txt.ShowModelErrors = true;

        txt.ControlStyle.CssClass = "editornoimage";
        txt.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
        txt.Properties.ReadOnlyStyle.BackColor = System.Drawing.Color.FromName("#EDEDED");
        txt.Properties.NullText = "dd/MM/yyyy";
        txt.Properties.EditFormat = EditFormat.Custom;
        txt.Properties.EditFormatString = "dd/MM/yyyy";
        txt.Properties.EditFormat = EditFormat.Date;

        if (Model.Status == "Draft")
        {
            txt.ReadOnly = false;
        }
        else
        {
            txt.Properties.DropDownButton.Visible = false;
            txt.ReadOnly = true;
        }

        txt.Properties.ClientSideEvents.ParseDate = "function (s,e){ { ParseDateEdit(s,e);  } }";
        txt.Width = 230;
    });

    groupItem_Col1.Items.Add(itemSettings =>
    {

        itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.DateEdit;
        itemSettings.Caption = "Expiry Date";
        itemSettings.FieldName = "EndDate";

        var txt = (DateEditSettings)itemSettings.NestedExtensionSettings;
        txt.Name = "EndDate";
        txt.ShowModelErrors = true;

        txt.ControlStyle.CssClass = "editornoimage";
        txt.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
        txt.Properties.ReadOnlyStyle.BackColor = System.Drawing.Color.FromName("#EDEDED");
        txt.Properties.NullText = "dd/MM/yyyy";
        txt.Properties.EditFormat = EditFormat.Custom;
        txt.Properties.EditFormatString = "dd/MM/yyyy";
        txt.Properties.EditFormat = EditFormat.Date;

        if (Model.Status == "Closed")
        {
            txt.Properties.DropDownButton.Visible = false;
            txt.ReadOnly = true;
        }
        else
        {
            txt.ReadOnly = false;
        }

        txt.Properties.ClientSideEvents.ParseDate = "function (s,e){ { ParseDateEdit(s,e);  } }";
        txt.Width = 230;
    });

    groupItem_Col1.Items.Add(itemSettings =>
    {
        itemSettings.Name = "grpWhsCode";
        itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.ComboBox;
        itemSettings.Caption = "Warehouse";
        itemSettings.FieldName = "WhsCode";
        var txt = (ComboBoxSettings)itemSettings.NestedExtensionSettings;
        txt.Name = "WhsCode";
        txt.ReadOnly = true;
        txt.ShowModelErrors = true;
        txt.Width = 230;

        txt.ControlStyle.CssClass = "editornoimage";
        txt.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
        txt.Properties.ReadOnlyStyle.BackColor = System.Drawing.Color.FromName("#EDEDED");
        txt.Properties.ValidationSettings.Display = Display.Dynamic;
        //txt.Width = 100;

        // Hide the default DropDown button
        txt.Properties.DropDownButton.Visible = false;
        txt.Properties.ButtonStyle.BackColor = System.Drawing.Color.FromName("#EDEDED");

        if (Model.Status == "Draft")
        {
            EditButton lookUpButton = new EditButton();
            lookUpButton.Text = "";
            lookUpButton.Image.Url = "~/Content/Images/buttonnew/find-hitam.png";
            lookUpButton.Image.Width = 15;

            txt.Properties.Buttons.Add(lookUpButton);
            txt.Properties.ClientSideEvents.ButtonClick = "BtnCflWhsCodeOnClick";
        }

    });

    groupItem_Col1.Items.Add(itemSettings =>
    {
        itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
        itemSettings.Caption = "Warehouse Name";
        itemSettings.FieldName = "WhsName";
        itemSettings.ClientVisible = true;

        var txt = (TextBoxSettings)itemSettings.NestedExtensionSettings;
        txt.Name = "WhsName";
        txt.ReadOnly = true;
        txt.ShowModelErrors = true;
        txt.ControlStyle.CssClass = "editornoimage";
        txt.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
        txt.Properties.ReadOnlyStyle.BackColor = System.Drawing.Color.FromName("#EDEDED");
        txt.Width = 230;
    });

    groupItem_Col2.Items.Add(itemSettings =>
    {
        itemSettings.Name = "grpDescription";
        itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
        itemSettings.Caption = "Description";
        itemSettings.FieldName = "Description";
        var txt = (TextBoxSettings)itemSettings.NestedExtensionSettings;
        txt.Properties.ReadOnlyStyle.BackColor = System.Drawing.Color.FromName("#EDEDED");
        txt.Name = "Description";
        txt.ShowModelErrors = true;
        txt.ReadOnly = ViewBag.ReadOnly;
        txt.ControlStyle.CssClass = "editor";
        txt.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
        txt.Width = 230;
    });


    groupItem_Col3.Items.Add(m => Model.Status, itemSettings =>
    {
        itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.ComboBox;
        itemSettings.Caption = "Status";
        itemSettings.FieldName = "Status";

        ComboBoxSettings cbo = (ComboBoxSettings)itemSettings.NestedExtensionSettings;
        cbo.Properties.DropDownStyle = DropDownStyle.DropDown;
        cbo.Name = "Status";
        cbo.ReadOnly = true;
        cbo.ShowModelErrors = true;
        cbo.Properties.TextField = "Name";
        cbo.Properties.ValueField = "Code";
        cbo.Properties.ValueType = typeof(string);
        cbo.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
        cbo.Properties.DropDownButton.Visible = false;

        cbo.Properties.DataSource = Models._Utils.GeneralGetList.GetList("RequestStockOpname_Status");

        cbo.ControlStyle.CssClass = "editor";
        cbo.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
        cbo.Properties.ReadOnlyStyle.BackColor = System.Drawing.Color.FromName("#EDEDED");
        cbo.Width = 230;
    });

    if (Model._FormMode != Models.FormModeEnum.New)
    {
        groupItem_Col3.Items.Add(itemSettings =>
        {
            itemSettings.Caption = "Author";
        })
         .SetNestedContent(() =>
         {
             ViewContext.Writer.Write("<table  cellspacing=\"0\" cellpadding=\"0\" style=\"margin:0.65em 0 0.67em 0!important;\" ><tr><td  cellspacing=\"0\" cellpadding=\"0\" >");

             Html.DevExpress().Label(
                x =>
                {
                    x.Name = "label1";
                    x.Text = "Created By(" + Models._Utils.GeneralGetList.GetUserNameByUserId(Model.CreatedUser) + ", " + Models._Utils.GeneralGetList.GeFirstNameByUserId(Model.CreatedUser) + " : " + Model.CreatedDate_ + ")";
                    x.Properties.EnableClientSideAPI = true;
                }
            )
            .Render();

             ViewContext.Writer.Write("</td><td>&nbsp;<td>");

             ViewContext.Writer.Write("</td><td cellspacing=\"0\" cellpadding=\"0\">");

             Html.DevExpress().Label(
                x =>
                {
                    x.Name = "label3";
                    x.Text = "  Modified By(" + Models._Utils.GeneralGetList.GetUserNameByUserId(Model.ModifiedUser) + ", " + Models._Utils.GeneralGetList.GeFirstNameByUserId(Model.ModifiedUser) + " : " + Model.ModifiedDate_ + ")";
                    x.Properties.EnableClientSideAPI = true;
                }
            )
            .Render();

             ViewContext.Writer.Write("</td></tr></table>");
         });
    }


    if (!string.IsNullOrWhiteSpace(Model.CancelReason))
    {
        groupItem_Col3.Items.Add(itemSettings =>
        {
            itemSettings.Caption = "Cancel Reason";
        })
         .SetNestedContent(() =>
         {
             ViewContext.Writer.Write("<table  cellspacing=\"0\" cellpadding=\"0\" style=\"margin:0.65em 0 0.67em 0!important;\" ><tr><td  cellspacing=\"0\" cellpadding=\"0\" >");

             Html.DevExpress().Label(
                x =>
                {
                    x.Name = "label2";
                    x.Text = Model.CancelReason;
                    x.ControlStyle.ForeColor = System.Drawing.Color.IndianRed;
                }
            )
            .Render();

             ViewContext.Writer.Write("</td></tr></table>");
         });
    }

}).GetHtml()