@Html.DevExpress().Panel(settings => {
    settings.Name = "pageToolbarPanel";
    settings.ControlStyle.CssClass = "page-toolbar-wrapper";
    settings.ClientSideEvents.Init = "onPageToolbarInit";
    settings.SetContent(() =>
    {
        @Html.DevExpress().Menu(menuSettings =>
        {
            menuSettings.Name = "pageToolbar";

            menuSettings.ItemAutoWidth = false;
            menuSettings.AllowSelectItem = false;
            menuSettings.ApplyItemStyleToTemplates = true;

            menuSettings.SettingsAdaptivity.Enabled = true;
            menuSettings.SettingsAdaptivity.EnableAutoHideRootItems = true;
            menuSettings.SettingsAdaptivity.EnableCollapseRootItemsToIcons = true;
            menuSettings.SettingsAdaptivity.CollapseRootItemsToIconsAtWindowInnerWidth = 600;

            menuSettings.Width = Unit.Percentage(100);
            menuSettings.ControlStyle.SeparatorWidth = Unit.Pixel(0);
            menuSettings.ControlStyle.CssClass = "page-toolbar";

            menuSettings.Styles.Item.CssClass = "item";
            menuSettings.Styles.Item.VerticalAlign = VerticalAlign.Middle;

            menuSettings.Images.Item.Width = Unit.Pixel(16);
            menuSettings.Images.Item.Height = Unit.Pixel(16);

            menuSettings.Items.Add(item =>
            {
                item.Enabled = false;
                item.SetTemplateContent(template => ViewContext.Writer.Write("<h1>Change Password</h1>"));
                item.ItemStyle.Width = Unit.Percentage(100);
            });

        }).GetHtml();

        @Html.DevExpress().FormLayout(panelBtnsettings =>
        {
            panelBtnsettings.Name = "formLayouBtn";
            panelBtnsettings.EncodeHtml = false;
            panelBtnsettings.ControlStyle.CssClass = "under-toolbar";
            panelBtnsettings.Height = Unit.Pixel(16);
            panelBtnsettings.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 600;
            var groupBtn = panelBtnsettings.Items.AddGroupItem(groupBtnSettings =>
            {


                groupBtnSettings.Caption = "";
                groupBtnSettings.SettingsItemHelpTexts.Position = HelpTextPosition.Bottom;
                groupBtnSettings.GroupBoxDecoration = GroupBoxDecoration.None;
                groupBtnSettings.ColCount = 12;
                groupBtnSettings.SettingsItems.ShowCaption = DefaultBoolean.False;
                groupBtnSettings.CellStyle.Paddings.Padding = 0;

                groupBtnSettings.Items.Add(itemSettings =>
                {
                    itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.Button;
                    itemSettings.VerticalAlign = FormLayoutVerticalAlign.Top;
                    var btnSettings = (ButtonSettings)itemSettings.NestedExtensionSettings;
                    btnSettings.Name = "btnChangePassword";
                    btnSettings.Text = "Save";
                    btnSettings.ClientSideEvents.Click = "OnClickBtnChangePassword";
                    btnSettings.Width = Unit.Percentage(10);
                    btnSettings.ImagePosition = ImagePosition.Left;
                    btnSettings.Images.Image.Url = "~/Content/Images/buttonnew/save.png";
                    btnSettings.Styles.Style.Paddings.Padding = 0;
                });


            });


        }).GetHtml();
    });
}).GetHtml()

@*@Html.DevExpress().Menu(menuSettings => {
   menuSettings.Name = "pageToolbar";

   menuSettings.ItemAutoWidth = false;
   menuSettings.AllowSelectItem = false;
   menuSettings.ApplyItemStyleToTemplates = true;

   menuSettings.SettingsAdaptivity.Enabled = true;
   menuSettings.SettingsAdaptivity.EnableAutoHideRootItems = true;
   menuSettings.SettingsAdaptivity.EnableCollapseRootItemsToIcons = true;
   menuSettings.SettingsAdaptivity.CollapseRootItemsToIconsAtWindowInnerWidth = 600;

   menuSettings.Width = Unit.Percentage(100);
   menuSettings.ControlStyle.SeparatorWidth = Unit.Pixel(0);
   menuSettings.ControlStyle.CssClass = "page-toolbar";

   menuSettings.Styles.Item.CssClass = "item";
   menuSettings.Styles.Item.VerticalAlign = VerticalAlign.Middle;

   menuSettings.Images.Item.Width = Unit.Pixel(16);
   menuSettings.Images.Item.Height = Unit.Pixel(16);

   menuSettings.Items.Add(item => {
       item.Enabled = false;
       item.SetTemplateContent(template => ViewContext.Writer.Write("<h1>"+ ViewBag.Title+"</h1>"));
   });

}).GetHtml()
@Html.DevExpress().FormLayout(settings =>
{
    settings.Name = "formLayouBtn";
    settings.EncodeHtml = false;
    settings.Height = Unit.Pixel(16);
    settings.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 600;
    var groupBtn = settings.Items.AddGroupItem(groupBtnSettings =>
    {

        groupBtnSettings.CellStyle.Paddings.Padding = 0;
        groupBtnSettings.Caption = "";
        groupBtnSettings.SettingsItemHelpTexts.Position = HelpTextPosition.Bottom;
        groupBtnSettings.GroupBoxDecoration = GroupBoxDecoration.None;
        groupBtnSettings.ColCount = 9;
        groupBtnSettings.SettingsItems.ShowCaption = DefaultBoolean.False;

        groupBtnSettings.Items.Add(itemSettings =>
        {
            itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.Button;
            itemSettings.VerticalAlign = FormLayoutVerticalAlign.Top;
            var btnSettings = (ButtonSettings)itemSettings.NestedExtensionSettings;
            btnSettings.Name = "btnChangePassword";
            btnSettings.Text = "Save";
            btnSettings.ClientSideEvents.Click = "OnClickBtnChangePassword";

            btnSettings.ImagePosition = ImagePosition.Left;
            btnSettings.Images.Image.Url = "~/Content/Images/buttonnew/save.png";
            btnSettings.Styles.Style.Paddings.Padding = 0;
        });

    });


}).GetHtml()*@ 