

@using (Html.BeginForm("mantap", "AdjustmentIn", FormMethod.Post, new { id = "Attachment_formDetail", @class = "edit_form" }))
{
    <div id="Attachment_contentForm">
        @Html.Partial("Partial/Attachment/Attachment_Form_Partial")
    </div>
}
