@using System.Data;
@{
    ViewBag.Title = "Home";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="text-content" id="TextContent">
    @*<h3 class="section-caption contents-caption">Contents</h3>*@
    @*@Html.Raw(File.ReadAllText(Server.MapPath(@"~/App_Data/Overview.html")))*@
</div>
