

@using (Html.BeginForm("mantap", "TransferRequest", FormMethod.Post, new { id = "TemplateUpload_formDetail", @class = "edit_form" }))
{
    <div id="TemplateUpload_contentForm">
        @Html.Partial("Partial/TemplateUpload/TemplateUpload_Form_Partial")
    </div>
}
